# This file should have the same content as the .gitignore file in the root of the project, but without `dist`.

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

node_modules/
data

# Swap the comments on the following lines if you wish to use zero-installs
# In that case, don't forget to run `yarn config set enableGlobalCache false`!
# Documentation here: https://yarnpkg.com/features/zero-installs

#!.yarn/cache
.pnp.*

*.log
.turbo
.vscode/settings.json

.DS_Store
