.pnp*
.yarn*
.vscode*
packages/examples/src/bakeoff/*/data/*
dist
.next
.docusaurus
packages/docs/docs/api
packages/docs/build
packages/create-react-app-demo/build/
packages/fixie/**/*.js
packages/fixie/**/*.d.ts
.vercel*