/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e4585;
  --ifm-color-primary-dark: #2e4585;
  --ifm-color-primary-darker: #2e4585;
  --ifm-color-primary-darkest: #2e4585;
  --ifm-color-primary-light: #2e4585;
  --ifm-color-primary-lighter: #2e4585;
  --ifm-color-primary-lightest: #2e4585;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #587cde;
  --ifm-color-primary-dark: #587cde;
  --ifm-color-primary-darker: #587cde;
  --ifm-color-primary-darkest: #587cde;
  --ifm-color-primary-light: #587cde;
  --ifm-color-primary-lighter: #587cde;
  --ifm-color-primary-lightest: #587cde;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

/* If you want to change the base font... */
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  --ifm-font-family-base: 'Open Sans';
} */
