.flashy {
  padding: 4rem;
  max-width: 560px;
  flex: 1 1 405px;
  border-radius: 16px;
  background: var(--palette-midnight);
}

.flashy:not(:last-child) {
  margin-right: 1.5rem;
}

.flashy--primary {
  background: var(--palette-pink);
}

.flashy__title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: var(--font-size-big-3);
  font-weight: var(--ifm-font-weight-bold);
}

.flashy__content {
  font-size: var(--font-size-large);
}

:global(html[data-theme='light']) .flashy__title,
:global(html[data-theme='light']) .flashy__content {
  color: var(--palette-white);
}

.flashy__links {
  display: flex;
  padding-top: 2rem;
}

.flashy__link {
  text-transform: uppercase;
  font-size: var(--font-size-normal);
}

.flashy__link:not(:last-child) {
  margin-right: 1.5rem;
}

@media (max-width: 996px) {
  .flashy {
    padding: 3rem 2rem;
  }

  .flashy:not(:last-child) {
    margin: 0;
    margin-bottom: 2rem;
  }

  .flashy__title {
    font-size: var(--ifm-h2-font-size);
  }
}
